.form {
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
}

.form__header {
    text-align: center;
}

.form__label {
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__actions {
    margin-top: 50px;
}

.form__button {
    border: none;
    background: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
